
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    height: 2000px;
    background-color: rgb(230, 229, 229);
    /*#003090*/
    font-family: 'Montserrat', sans-serif;
    
}

#capa{
    width: 100%;  
    margin-bottom: 40px;
    
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #00256fd8;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    justify-content: flex-start;
    margin-left: 5dvh;
    font-size: 1em;
    
    
}



.logo a{
    text-decoration: none;
    color:#e2ebff ;
    transition: 0.5s;
}

.logo a:hover{
    color:#fdfdfd ;
   
}

.nav-bar{
    
    display: flex;
    align-items: center;
    margin-right: 5dvh;
    justify-content: flex-end;    
}

.nav-bar ul{
    display: flex;
    list-style: none;
    font-size: 1em;   
}

.nav-bar li{
    margin-right: 30px;
    transition: 0.3s;
    font-weight: bold;
    
    
}
.nav-bar li:hover{
    
    transform: scale(1.2);

}




.nav-bar a {
    text-decoration: none;
    color: #e2ebff;
}

.nav-bar a:hover{
color: #fdfdfd;
}



section{
    width: 100%;
    height: auto;
    margin: auto ;
    
    font-size: 1em;
    
}

section h1{
    color:#00256fd8;
}

section a{
    color: black;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ACC8FF;
    padding: 10px;
    border-radius: 10px;
    
    
}
.sobre p{
    padding: 10px;
    
}
.sobre img{
    width: 100%;  
    margin-bottom: 40px;
    border-radius: 10px
}


/*Medidas responsivas*/
@media (min-width: 200px){
    .container{
        height: 60px;
    }
    .logo{
        font-size: 0.5em;
        margin-right: 10px;
    }
    .nav-bar ul{
        font-size: 0.55em;
    }
    .nav-bar li{
        margin-right: 10px;
    }
}

@media (min-width: 500px){
    .container{
        height: 70px;
    }
    .logo{
        font-size: 0.7em;
    }
    .nav-bar ul{
        font-size: 0.7em;
        margin-right: 0px;
    }
    .nav-bar li{
        margin-right: 20px;
    }
}

@media (min-width: 700px){
    .container{
        height: 80px;
    }
    
    .logo{
        font-size: 1em;
    }
    .nav-bar ul{
        font-size: 1em;
        margin-right: 0px;
    }
    .nav-bar li{
        margin-right: 30px;
    }
}
